body {
  margin: 15px;
}
form {
  text-align: center;
  margin: 19px 0;
  font-size: 26px;
}
input {
  opacity: 0.7;
  padding: 3px 16px;
  height: 50px;
  padding-top: 3px;
  padding-bottom: 7px;
}
h1 {
  font-family: "Nunito", sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding: 0;
  line-height: 1.2;
}
h2 {
  font-size: 23px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
h3,
h4 {
  font-size: 20px;
  font-weight: 550;
  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

i {
  color: white;
}
.container {
  overflow: hidden;
  background-color: #0093e9;
  background-image: linear-gradient(180deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 6%;
  max-width: 600px;
  margin: 30px auto;
}
.city::first-letter {
  text-transform: capitalize;
  font-size: 20px;
}
.country {
  font-size: 17px;
}
.list-group-item {
  background-color: transparent;
  line-height: 1.6;
  border: none;
}
.card-left {
  text-align: center;
}
.left {
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

.card-right {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  width: fit-content;
  margin: auto;
}
.day,
.emoji-right {
  font-size: 16px;
  font-weight: bold;
}
.codedBy {
  text-align: center;
  opacity: 0.7;
  font-size: 13px;
}
.humidityimg {
  height: 20px;
  width: 20px;
}

.temp {
  font-size: 23.5px;
}
.leftImg {
  height: 40px;
  width: 40px;
}
.align-self-center {
  border-style: hidden;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.125);
}
.left-temp {
  font-size: 13px;
}
.fa-arrow-up {
  color: #d5901c;
}
.fa-arrow-down {
  color: mediumblue;
}
.justify-content-center {
  color: black;
}
img,
svg {
  width: 80px;
}
